# Dipendenze
node_modules/
/dist
/build

# Next.js - Questa è la riga che risolverà il tuo errore su Vercel!
.next/
out/

# Ambiente e Sicurezza (La tua cassaforte)
.env
.env.local
.env.production
.env.development
.env.*.local

# Debug e Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# File di sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Database e Supabase (se scarichi file locali)
.supabase/